---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "highlights";
@import "svg-icons";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600');

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: #fafafa;
  font: 22px/1.6 $serif;
  font-weight: 400;
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  color: $darkerGray;

  @include mobile {
  font: 16px/1.5 $serif;
  }
}

.container {
  margin: 0 auto;
  max-width: 750px;
  padding: 0 10px;
  width: 100%;

  @include mobile {
  padding-left:  1.2rem;
  padding-right: 1.2rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  font-weight: 700;
  line-height: 1.6;
  color: $gray;
  text-align: center;
  margin: 50px 0 0 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 20px;
  @include mobile {
    font-size: 16px;
  }
  a {
    color: inherit;
  }
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: underline;
	cursor: pointer;
  &:hover, &:active {
    color: $black;
  }
}

.logo {
  color: black;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: .2s ease-in-out;
  &:hover {
      transform:scale(3);
    }
}

.blog--head {
  text-decoration: none;
  font-family: $sans;
  color: $darkBlue;
  background-color: $lighterBlue;
}


ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
  font-size: 16px;
  padding: 1rem;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: 700;
}

span {
  color: $darkBlue;
  background-color: $lighterBlue;
    &.arrows {
      color: $lightGray;
      background-color: transparent;
    }
}

.twitter-tweet {
  margin: auto;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  padding: 0.5em;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}


// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightestGray;
}
::selection {
  color: $black;
  background: $lightestGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

//
// .main
//

.posts > .post {
  padding-bottom: 3rem;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    font-family: $serif;
    color: $darkBlue;
    background-color: $lighterBlue;
    margin: 0.3rem 0 0.3rem 0;
    padding: 1rem;
  }

// Footnotes

li {
  margin-bottom: 1rem;
    &:target {
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    color: $darkBlue;
    background-color: $lighterBlue;
    }
    a {
      color: $lightBlue;
    }
}

.footnotes {
  font-family: $sans;
  font-size: 14px;
  line-height: 1.5;
}

.footnote {
  @include smallscript;
  font-size: 0.6em;
  vertical-align: super;
  margin-left: 2px;
  letter-spacing: 1px;
  &::before {
    content: '[';
  }
  &::after {
    content: ']';
  }
}

.reversefootnote {
  @include smallscript;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 16px;
}

.post--titel {
  font-family: $sans;
  font-weight: 400;
  a {
    text-decoration: none;
    color: $black;
    &:hover {
      color: $blue;
    }
  }
  }

.post--date {
  font-family: $mono;
  font-size: 16px;
  color: $lightGray;
    }

.comments {
    margin-top: 10px;
  }

}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  padding: 7rem 0;
}

.about {
  text-decoration: none;
}
