---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro|Source+Code+Pro');
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $navy;
  font: 20px/1.6 $serif;
  color: $light-blue;

  @include mobile {
  font: 16px/1.5 $serif;
  }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;

  @include mobile {
  padding-left:  1.2rem;
  padding-right: 1.2rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-align: center;
  line-height: 1.7;
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 0 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 22px;
  @include mobile {
    font-size: 18px;
  }
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

a {
  color: $white;
  text-decoration: none;
  border-bottom: 1px solid $dark-blue;
	cursor: pointer;
  transition: ease-in-out 0.5s;
  &:hover, &:active {
    text-decoration: none;
    border-bottom: 1px solid $light-blue;
  }
}

.logo a {
  border-bottom: none;
}

.logo:hover{
  animation-name: scale;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}
@keyframes scale {
    0% {transform: scale( 1,1 );}
    50% {transform: scale( 1.05,1.05 );}
    100% {transform: scale( 1,1 );}
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-family: $mono;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5rem;
  @include mobile {
    font-size: 14px;
  }
}

// Specify the color of the selection
::-moz-selection {
  color: $dark-blue;
  background: $white;
}
::selection {
  color: $dark-blue;
  background: $white;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

//
// .main
//

.posts > .post {
  padding-bottom: .2rem;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $light-blue;
    padding: 0.1em 1em;
    color: $white;
    font-size: 22px;
    font-style: italic;
  }


.index--wrapper {
  display: grid;
  grid-template-columns: 120px 0 0;
  grid-gap: 1rem;
  font-size: 16px;
  font-family: $mono;
  color: $blue;
  text-transform: uppercase;
}

.index--wrapper a {
  color: $light-blue;
  font-family: sans-serif;
}



.post--titel {
        grid-column-start: 4;
    }
.post--date {
        grid-column-start: 1;
    }

.comments {
    margin-top: 10px;
  }

.read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  font-family: $mono;
  padding: 7rem 0;
  font-size: 16px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
