---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:400,700');
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: #fafafa;
  font: 20px/1.6 $sans;
  font-weight: 400;
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  color: $darkerGray;
  @include mobile {
  font: 16px/1.5 $sans;
  }
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
  width: 100%;

  @include mobile {
  padding-left:  1.2rem;
  padding-right: 1.2rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.6;
  margin: 0 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 24px;
  @include mobile {
    font-size: 18px;
  }
  a {
    color: inherit;
  }
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: underline;
	cursor: pointer;
  &:hover, &:active {
    color: $black;
  }
}

iframe {
  padding: 2em;
  background-color: $lightestGray;
  margin: auto;
  width: 100%;
  height: 50vh;
  &:hover {
    transition: .2s ease-in-out;
    background-color: $black;
  }
}

.logo {
  padding: .4rem;
  font: 24px/1.8 $mono;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $white;
  background-color: $blue;
  text-decoration: none;
  &:hover {
    color: white;
  }
}



ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
  font-size: 16px;
  padding: 1rem;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: 700;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  padding: 1rem 0 1rem 0;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}


// Specify the color of the selection
::-moz-selection {
  color: $white;
  background: $darkerGray;
}
::selection {
  color: $white;
  background: $darkerGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

//
// .main
//

.posts > .post {
  padding-bottom: 3rem;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem;
    color: $white;
    font-family: $mono;
    background: $black;
  }

// Footnotes

li {
  margin-bottom: 1rem;
    &:target {
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    color: $darkBlue;
    background-color: $lighterBlue;
    }
    a {
      color: $lightBlue;
    }
}

.footnote {
  @include smallscript;
  font-size: 0.7em;
  vertical-align: super;
  margin-left: 2px;
  letter-spacing: 1px;
  &::before {
    content: '[';
  }
  &::after {
    content: ']';
  }
}

.reversefootnote {
  @include smallscript;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 16px;
}

.post--titel {
  font-size: 24px;
  font-weight: 700;
  a {
    text-decoration: none;
    color: $black;
    &:hover {
      color: $blue;
    }
  }
  }

.post--date {
  font-family: $mono;
  text-transform: uppercase;
  color: $lightGray;
    }
.post--excerpt {
  color: $black;
  text-decoration: none;
}

.comments {
    margin-top: 10px;
  }

}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  padding: 7rem 0;
}

.about {
  text-decoration: none;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
