
/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: #fafafa;
  font: 22px/1.6 $sans;
  font-weight: 400;
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $darkerGray;

  @include mobile {
  font: 16px/1.5 $sans;
  }
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;

  @include mobile {
  padding-left:  1.2rem;
  padding-right: 1.2rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
  font-weight: 400;
  line-height: 1.6;
  color: $black;
  text-align: left;
  margin: 50px 0 0 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 28px;
  @include mobile {
    font-size: 20px;
  }
  a {
    color: inherit;
  }
}

p {
  margin: 15px 0;
}

#excerpt {
  font-family: $sans;
  color: $gray;
  a {
    color: $black;
  }
}

a {
  text-decoration: underline;
  text-decoration-color: $lightGray;
  color: $black;
	cursor: pointer;
  &:hover, &:active {
    text-decoration-color: $black;
  }
}

.logo {
  color: black;
  display: inline-block;
  text-decoration: none;
  transition: .2s ease-in-out;
  &:hover {
      transform:scale(3);
    }
}

.blog--head {
  text-decoration: none;
  font-family: $sans;
  color: $color-main;
}


ul {
  list-style-position: outside;
  list-style-type: circle;
  font-family: $sans;
  padding: 1rem;
  li {
  }
}

ol {
  list-style-type: decimal;
  font-size: 16px;
  padding: 1rem;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: 400;
}

span {
  font-family: $serif;
  color: $color-secondary--darker;
  background-color: $color-secondary--lighter;
    &.arrows {
      color: $lightGray;
      background-color: transparent;
    }
}

.twitter-tweet {
  margin: auto;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  padding: 0.5em;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}


// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightestGray;
}
::selection {
  color: $black;
  background: $lightestGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

//
// .main
//

.posts > .post {
  padding-bottom: 3rem;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    font-family: $serif;
    color: $color-main--dark;
    background-color: $color-main--lighter;
    margin: 0.3rem 0 0.3rem 0;
    padding: 1rem;
    border-radius: 4px;
  }
}
// Footnotes

li {
  margin-bottom: 1rem;
    &:target {
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    border-radius: 4px;
    color: $black;
    background-color: $lightestGray;
    }
    a {
      color: $black;
      text-decoration-color: $black;
    }
}

.footnotes {
  font-family: $sans;
  font-size: 14px;
  line-height: 1.5;
}

.footnote {
  @include smallscript;
  font-size: 0.7em;
  vertical-align: super;
  margin-left: 2px;
  letter-spacing: 1px;
  &::before {
    content: '[';
  }
  &::after {
    content: ']';
  }
}

.reversefootnote {
  @include smallscript;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 16px;
}

.post--titel {
  font-family: $serif;
  font-size: 40px;
  font-weight: 400;
  p {
    font-size: 22px;
  }
  a {
    text-decoration: none;
    // color: $black;
    &:hover {
      color: $darkGray;
    }
  }
  @include mobile {
  font-size: 26px;
    p {
  font: 16px/1.5 $sans;
  }
  }
  }

.post--date {
  font-family: $sans;
  font-size: 14px;
  color: $color-main;
    }

.post--categories {
  font-family: $sans;
  font-size: 14px;
  color: $black;
  background-color: $lightestGray;
  padding: 2px 4px 2px 4px;
  border-radius: 4px
}

.comments {
    margin-top: 10px;
  }


.wrapper-footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  font-family: $sans;
  padding: 1rem 0;
  font-size: 80%;
  border-radius: 4px;
}

.flex-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about {
  color: $black;
  text-decoration: underline;
  text-decoration-color: $lightGray;
}
