
/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: rgb(255, 255, 255);
  font-family: $serif;
  font-size: calc(.00485*100vw + 14.18182px);
  font-weight: 400;
  font-kerning: normal;
  line-height: 165%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: rgb(20, 20, 20);

  @include mobile {
  font: 16px/1.6 $serif;
  }
}

.container {
  margin: 0 auto;
  max-width: 55.333%;
  padding: 0 10px;

  @include mobile {
  max-width: 95.333%;
  padding-left:  0.8rem;
  padding-right: 0.8rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  line-height: auto;
  text-align: left;
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding: 0;

  @include mobile {
    line-height: 1.4;
    margin-left: 0;
    margin-right: 0;
  }
}

h1 {
  font-size: 22pt;
  font-weight: 600;

  @include mobile {
    // font-size: 18pt;
  }
}

h2 {
  font-size: 22pt;
  font-weight: 300;
  color: $gray;

  margin-bottom: 1.25em;
}

p {
  margin: 15px 0;
}

a {
  color: $black;
  text-decoration: underline;
  text-decoration-color: $black;
  transition: .2s ease-in-out;
  &:hover, &:active {
    color: $gray;
    text-decoration-color: $lightestGray;
  }
}

.logo {
  font-size: 40px;
  display: inline-block;
  text-decoration: none;
  transition: .2s ease-in-out;
  &:hover {
      color: black;
      transform:scale(1.25) rotateZ(-12deg);
    }
}

.blog--head {
  text-decoration: none;
}

.entry {
  margin-left: 7.5%;
  margin-right: 7.5%;

  @include mobile {
    margin-left: 0;
    margin-right: 0;
  }
}

img {
  left: 50%;
  margin-left: -25vw;
  margin-right: -50vw;
  margin-bottom: 1.25em;
  max-width: 50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}



#excerpt {
  text-decoration: none;
}

ul {
  list-style-position: outside;
  list-style-type: circle;
  padding: 1rem;
  li {
  }
}

ol {
  list-style-type: decimal;
  padding: 1rem;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}


.twitter-tweet {
  margin: auto;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}


// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $color-tertiary--lighter;
}
::selection {
  color: $black;
  background: $color-tertiary--lighter;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

//
// .main
//

.posts > .post {
  padding-bottom: 3rem;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 0.3rem 0 0.3rem 0;
    padding: 1rem;
    border-radius: 4px;
  }
}

p.post_description {
  margin-left: 7.5%;
  margin-right: 7.5%;
}
// Footnotes

li {
  margin-bottom: 1rem;
    &:target {
    background-color: $color-main--lighter;
    border-radius: 4px;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    }
    a {
      text-decoration: underline;
    }
}

.footnotes {
  font-family: $sans;
  font-weight: 400;
  font-size: 80%;
  line-height: 1.5;
}

.footnote {
  @include smallscript;
  font-size: 0.7em;
  vertical-align: super;
  margin-left: 2px;
  letter-spacing: 1px;
  &::before {
    content: '[';
  }
  &::after {
    content: ']';
  }
}

.reversefootnote {
  @include smallscript;
  vertical-align: middle;
  margin-left: 4px;
}

// .post--categories {
//   color: $black;
//   background-color: $lightestGray;
//   padding: 2px 4px 2px 4px;
//   border-radius: 4px
// }

.comments {
    margin-top: 10px;
  }


.wrapper-footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  padding: 1rem 0;
  border-radius: 4px;
}

.flex-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about {
  text-decoration: underline;
}

.info-highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 4rem;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover {
    cursor: alias;
  }
}

#arrow {
  font-weight: 400;
  color: $black;
}
