
/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: rgb(3, 3, 3);
  font: 22px/1.7 $serif;
  font-weight: 400;
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $white;

  @include mobile {
  font: 16px/1.5 $serif;
  }
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;

  @include mobile {
  padding-left:  1.2rem;
  padding-right: 1.2rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
  text-align: left;
  margin: 50px 0 0 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  @include mobile {
    // font-size: 20px;
  }
}

p {
  margin: 15px 0;
}

a {
  text-decoration: underline;
  text-decoration-color: $lightGray;
  color: $white;
	cursor: pointer;
  &:hover, &:active {
    text-decoration-color: $lightestGray;
    cursor: pointer;
  }
}

.logo {
  font-size: 40px;
  display: inline-block;
  text-decoration: none;
  transition: .2s ease-in-out;
  &:hover {
      transform:scale(1.5);
    }
}

.blog--head {
  text-decoration: none;
  color: $white;
}

.post--date {
  font: 14px/1.5 sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

#excerpt {
  text-decoration: none;
  color: $lightGray;
}

ul {
  list-style-position: outside;
  list-style-type: circle;
  padding: 1rem;
  li {
  }
}

ol {
  list-style-type: decimal;
  padding: 1rem;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

span {
  color: $color-secondary;
  // background-color: $color-secondary--lighter;
    &.arrows {
      color: $lightGray;
      background-color: transparent;
    }
}

.twitter-tweet {
  margin: auto;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  padding: 0.5em;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}


// Specify the color of the selection
::-moz-selection {
  color: $color-secondary--lighter;
  background: $color-secondary--darker;
}
::selection {
  color: $color-secondary--lighter;
  background: $color-secondary--darker;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

//
// .main
//

.posts > .post {
  padding-bottom: 3rem;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    color: $black;
    background-color: $white;
    font-family: sans-serif;
    font-weight: 400;
    margin: 0.3rem 0 0.3rem 0;
    padding: 1rem;
    border-radius: 4px;
  }
}
// Footnotes

li {
  margin-bottom: 1rem;
    &:target {
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    color: $color-secondary;
    }
    a {
      color: $color-secondary;
      text-decoration: underline;
    }
}

.footnotes {
  line-height: 1.5;
}

.footnote {
  @include smallscript;
  font-size: 0.7em;
  vertical-align: super;
  margin-left: 2px;
  letter-spacing: 1px;
  &::before {
    content: '[';
  }
  &::after {
    content: ']';
  }
}

.reversefootnote {
  @include smallscript;
  vertical-align: middle;
  margin-left: 4px;
  color: $color-secondary;
}

// .post--categories {
//   color: $black;
//   background-color: $lightestGray;
//   padding: 2px 4px 2px 4px;
//   border-radius: 4px
// }

.comments {
    margin-top: 10px;
  }


.wrapper-footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  padding: 1rem 0;
  border-radius: 4px;
}

.flex-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about {
  color: $white;
  text-decoration: underline;
  text-decoration-color: $lightGray;
}

.info-highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 4rem;
  background-color: $color-tertiary--lighter;
  color: $color-tertiary-dark;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $color-secondary--darker;
    background-color: $color-secondary--lighter;
    cursor: alias;
  }
}
