
//
// VARIABLES
//
// Colors
$navy: #001b44;
$dark-blue: #00449e;
$blue: #357edd;
$light-blue: #96ccff;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #e0e0e0;
$white: #fff;


// Font stacks
$sharetechmono: 'Share Tech Mono', monospace;
$crimson: 'Crimson Text', serif;



// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
