
//
// VARIABLES
//
// Colors

$black: #000;
$darkerGray: #222222;
$darkGray: #333333;
$gray: #666666;
$lightGray: #a2a2a2;
$lightestGray: #e2e2e2;
$white: #ffffff;

$blue: blue;
$darkerBlue: darken( $blue, 42% );
$darkBlue: darken( $blue, 22% );
$lightBlue: lighten( $blue, 20% );
$lighterBlue :lighten( $blue, 46% );

// Font stacks
$sans: sans-serif;
$serif: 'Crimson Text', serif;
$mono: monospace;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Footnotes
@mixin smallscript {
  font-family: $sans;
  color: blue;
  font-weight: 700;
  text-decoration: none;
    &:hover {
      color: $black;
    }
}
