
//
// VARIABLES
//
// Colors
$navy: #001b44;
$dark-blue: #00449e;
$blue: #357edd;
$light-blue: #96ccff;

$light-red: rgba(255, 0, 0, .4);
$dark-red: rgba(255, 0, 0, 1);

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #e0e0e0;
$white: #fff;


// Font stacks
$mono: 'Source Code Pro', monospace;
$serif: 'Source Serif Pro', serif;



// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
