<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a class="logo" href="{{ site.baseurl }}/">👊 </a> <a class="blog--head" href="{{ site.baseurl }}/">Punching Bag</a>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <p>
            Punching Bag ist ein Blog über Videospiele.
          </p>
          <div class="flex-links">
          <a class="about" href="https://mobile.twitter.com/kilianzelfo">Twitter</a>
        </div>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
